%h1 Results
%p all h1 header: #{@result[:all_header]}
%p number of links: #{@result[:all_links]}
%p There is a meta description? #{@result[:meta_description]}
%p There is a title? #{@result[:title]}
%p There is a paragraph (with class) that is more than 150 words long? #{@result[:p_class]}
%p There is a paragraph with more than 150 words? #{@result[:p]}
%p Are canonical links used? #{@result[:canon_links]}
%p All valid URLs: #{@result[:valid_urls_array]}
%p All invalid URLs: #{@result[:invalid_urls_array]}
%p All invalid errored URLs: #{@result[:invalid_error_urls_array]}

/ %p all doc #{@result[:doc]}
