%h1 Results
%h4 All valid urls with attributes:
- @result[:attributes_hash].each do |url, attributes|
  %strong
    %em #{url}:
  - attributes.each do |name, value|
    %div
      %u #{name}:
      - if value.class.to_s == 'Hash'
        - value.each do |src, alt|
          #{src}: #{alt}
          %br
      - else
        #{value}
%h4 All system URLs:
%p=@result[:system_urls_array]
%h4 All untested URLs:
%p=@result[:untested_urls_array]
%h4 All error coded URLs:
- @result[:error_urls_hash].each do |url, error|
  %div #{url}: #{error}
%h4 Notes:
- @result[:system_notes].each do |note, error|
  %div #{note} #{error}
