%h1 Results
%h4 All valid urls with attributes:
- @result[:attributes_hash].each do |url, attributes|
  =link_to url, '', class: 'result_url'
  #result_attributes
    - attributes.each do |name, value|
      =link_to name, '', class: 'result_url_name'
      .result_url_value
        - if value.class.to_s == 'Hash'
          - value.each do |src, alt|
            src= #{src} [alt= #{alt}]
            %br
        - elsif value.class.to_s == 'Array'
          - value.each do |link|
            #{link}
            %br
        - else
          #{value}
%h4 All system URLs:
- if @result[:system_urls_array].empty?
  %div No data, sounds wrong!
-else
  .url_show show/hide
  .url_show_content
    - @result[:system_urls_array].each do |url|
      %div #{url.first} [parent-> #{url.last}]
%h4 All untested URLs:
- if @result[:untested_urls_array].empty?
  %div No data, really? Strange!
-else
  .url_show show/hide
  .url_show_content
    - @result[:untested_urls_array].each do |url|
      %div #{url.first} [parent-> #{url.last}]

%h4 All error coded URLs:
- if @result[:error_urls_hash].empty?
  %div No data, well done!
-else
  .url_show show/hide
  .url_show_content
    - @result[:error_urls_hash].each do |url, error|
      %div #{url}: #{error.first} [parent-> #{error.last}]

%h4 Notes:
- if @result[:system_notes].empty?
  %div No data, well done!
-else
  .url_show show/hide
  .url_show_content
    - @result[:system_notes].each do |note, error|
      %div #{note}: #{error}
