%h1 Results
/ %p all h1 header: #{@result[:all_header]}
/ %p number of links: #{@result[:all_links]}
/ %p There is a meta description? #{@result[:meta_description]}
/ %p There is a title? #{@result[:title]}
/ %p There is a paragraph (with class) that is more than 150 words long? #{@result[:p_class]}
/ %p There is a paragraph with more than 150 words? #{@result[:p]}
/ %p Are canonical links used? #{@result[:canon_links]}
%h4 All valid urls with attributes:
- @result[:attributes_hash].each do |url, attributes|
  %strong
    %em #{url}:
  - attributes.each do |name, value|
    %div
      %u #{name}:
      - if value.class.to_s == 'Hash'
        - value.each do |src, alt|
          #{src}: #{alt}
          %br
      - else
        #{value}
  / - url.each do |test|
  /   %p=test
/%p All valid URLs: #{@result[:valid_urls_array]}

%h4 All system URLs:
%p=@result[:system_urls_array]
%h4 All untested URLs:
%p=@result[:untested_urls_array]
%h4 All error coded URLs:
- @result[:error_urls_hash].each do |url, error|
  %div #{url}: #{error}
%h4 Notes:
- @result[:system_notes].each do |note, error|
  %div #{note} #{error}
/ %p all doc #{@result[:doc]}
